<div>
    <h2>
        <span jhiTranslate="leadletApiApp.activity.home.title">Activities</span>
        <button class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/', { outlets: { popup: ['activity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="leadletApiApp.activity.home.createLabel">
            Create new Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="leadletApiApp.activity.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="order"><span jhiTranslate="leadletApiApp.activity.order">Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="memo"><span jhiTranslate="leadletApiApp.activity.memo">Memo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="potentialValue"><span jhiTranslate="leadletApiApp.activity.potentialValue">Potential Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="leadletApiApp.activity.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="leadletApiApp.activity.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dealId"><span jhiTranslate="leadletApiApp.activity.deal">Deal</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="personId"><span jhiTranslate="leadletApiApp.activity.person">Person</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="organizationId"><span jhiTranslate="leadletApiApp.activity.organization">Organization</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appAccountId"><span jhiTranslate="leadletApiApp.activity.appAccount">App Account</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="leadletApiApp.activity.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities ;trackBy: trackId">
                <td><a [routerLink]="['../activity', activity.id ]">{{activity.id}}</a></td>
                <td>{{activity.name}}</td>
                <td>{{activity.order}}</td>
                <td>{{activity.memo}}</td>
                <td>{{activity.potentialValue}}</td>
                <td>{{activity.startDate | date:'medium'}}</td>
                <td>{{activity.endDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="activity.dealId">
                        <a [routerLink]="['../deal', activity.dealId  ]" >{{activity.dealId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="activity.personId">
                        <a [routerLink]="['../contact', activity.personId  ]" >{{activity.personId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="activity.organizationId">
                        <a [routerLink]="['../contact', activity.organizationId  ]" >{{activity.organizationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="activity.appAccountId">
                        <a [routerLink]="['../app-account', activity.appAccountId  ]" >{{activity.appAccountId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="activity.userId">
                        <a [routerLink]="['../app-user', activity.userId  ]" >{{activity.userId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activity', activity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity/'+ activity.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity/'+ activity.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="activities && activities.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
