
<div *ngIf="pipeline">
    <h2><span jhiTranslate="leadletApiApp.pipeline.detail.title">Pipeline</span> {{pipeline.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="leadletApiApp.pipeline.name">Name</span></dt>
        <dd>
            <span>{{pipeline.name}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.pipeline.order">Order</span></dt>
        <dd>
            <span>{{pipeline.order}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pipeline/'+ pipeline.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
