<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmailTemplatesLabel" jhiTranslate="leadletApiApp.emailTemplates.home.createOrEditLabel">Create or edit a Email Templates</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!emailTemplates.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="emailTemplates.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.emailTemplates.templateName" for="field_templateName">Template Name</label>
            <input type="text" class="form-control" name="templateName" id="field_templateName"
                [(ngModel)]="emailTemplates.templateName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.emailTemplates.template" for="field_template">Template</label>
            <input type="text" class="form-control" name="template" id="field_template"
                [(ngModel)]="emailTemplates.template"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
