<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPipelineStageLabel" jhiTranslate="leadletApiApp.pipelineStage.home.createOrEditLabel">Create or edit a Pipeline Stage</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pipelineStage.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pipelineStage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.pipelineStage.stageOrder" for="field_stageOrder">Stage Order</label>
            <input type="number" class="form-control" name="stageOrder" id="field_stageOrder"
                [(ngModel)]="pipelineStage.stageOrder"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="leadletApiApp.pipelineStage.pipeline" for="field_pipeline">Pipeline</label>
            <select class="form-control" id="field_pipeline" name="pipeline" [(ngModel)]="pipelineStage.pipelineId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pipelineOption.id" *ngFor="let pipelineOption of pipelines; trackBy: trackPipelineById">{{pipelineOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="leadletApiApp.pipelineStage.stage" for="field_stage">Stage</label>
            <select class="form-control" id="field_stage" name="stage" [(ngModel)]="pipelineStage.stageId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="stageOption.id" *ngFor="let stageOption of stages; trackBy: trackStageById">{{stageOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
