
<div *ngIf="objective">
    <h2><span jhiTranslate="leadletApiApp.objective.detail.title">Objective</span> {{objective.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="leadletApiApp.objective.sourceId">Source Id</span></dt>
        <dd>
            <span>{{objective.sourceId}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.objective.sourceType">Source Type</span></dt>
        <dd>
            <span jhiTranslate="{{'leadletApiApp.ObjectiveSourceType.' + objective.sourceType}}">{{objective.sourceType}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.objective.name">Name</span></dt>
        <dd>
            <span>{{objective.name}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.objective.dueDate">Due Date</span></dt>
        <dd>
            <span>{{objective.dueDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.objective.targetAmount">Target Amount</span></dt>
        <dd>
            <span>{{objective.targetAmount}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.objective.currentAmount">Current Amount</span></dt>
        <dd>
            <span>{{objective.currentAmount}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'objective/'+ objective.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
