
<div *ngIf="contactEmail">
    <h2><span jhiTranslate="leadletApiApp.contactEmail.detail.title">Contact Email</span> {{contactEmail.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="leadletApiApp.contactEmail.email">Email</span></dt>
        <dd>
            <span>{{contactEmail.email}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contactEmail.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'leadletApiApp.EmailType.' + contactEmail.type}}">{{contactEmail.type}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contactEmail.contact">Contact</span></dt>
        <dd>
            <div *ngIf="contactEmail.contactId">
                <a [routerLink]="['/contact', contactEmail.contactId]">{{contactEmail.contactId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-email/'+ contactEmail.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
