<div>
    <h2>
        <span jhiTranslate="leadletApiApp.contactEmail.home.title">Contact Emails</span>
        <button class="btn btn-primary float-right jh-create-entity create-contact-email" [routerLink]="['/', { outlets: { popup: ['contact-email-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="leadletApiApp.contactEmail.home.createLabel">
            Create new Contact Email
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contactEmails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="leadletApiApp.contactEmail.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="leadletApiApp.contactEmail.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactId"><span jhiTranslate="leadletApiApp.contactEmail.contact">Contact</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactEmail of contactEmails ;trackBy: trackId">
                <td><a [routerLink]="['../contact-email', contactEmail.id ]">{{contactEmail.id}}</a></td>
                <td>{{contactEmail.email}}</td>
                <td jhiTranslate="{{'leadletApiApp.EmailType.' + contactEmail.type}}">{{contactEmail.type}}</td>
                <td>
                    <div *ngIf="contactEmail.contactId">
                        <a [routerLink]="['../contact', contactEmail.contactId  ]" >{{contactEmail.contactId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contact-email', contactEmail.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-email/'+ contactEmail.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-email/'+ contactEmail.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="contactEmails && contactEmails.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
