
<div *ngIf="deal">
    <h2><span jhiTranslate="leadletApiApp.deal.detail.title">Deal</span> {{deal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="leadletApiApp.deal.name">Name</span></dt>
        <dd>
            <span>{{deal.name}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.deal.order">Order</span></dt>
        <dd>
            <span>{{deal.order}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.deal.potentialValue">Potential Value</span></dt>
        <dd>
            <span>{{deal.potentialValue}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.deal.pipelineStage">Pipeline Stage</span></dt>
        <dd>
            <div *ngIf="deal.pipelineStageId">
                <a [routerLink]="['/pipeline-stage', deal.pipelineStageId]">{{deal.pipelineStageId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.deal.person">Person</span></dt>
        <dd>
            <div *ngIf="deal.personId">
                <a [routerLink]="['/contact', deal.personId]">{{deal.personId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.deal.organization">Organization</span></dt>
        <dd>
            <div *ngIf="deal.organizationId">
                <a [routerLink]="['/contact', deal.organizationId]">{{deal.organizationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.deal.appAccount">App Account</span></dt>
        <dd>
            <div *ngIf="deal.appAccountId">
                <a [routerLink]="['/app-account', deal.appAccountId]">{{deal.appAccountId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.deal.user">User</span></dt>
        <dd>
            <div *ngIf="deal.userId">
                <a [routerLink]="['/app-user', deal.userId]">{{deal.userId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'deal/'+ deal.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
