
<div *ngIf="contactPhone">
    <h2><span jhiTranslate="leadletApiApp.contactPhone.detail.title">Contact Phone</span> {{contactPhone.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="leadletApiApp.contactPhone.phone">Phone</span></dt>
        <dd>
            <span>{{contactPhone.phone}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contactPhone.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'leadletApiApp.PhoneType.' + contactPhone.type}}">{{contactPhone.type}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contactPhone.contact">Contact</span></dt>
        <dd>
            <div *ngIf="contactPhone.contactId">
                <a [routerLink]="['/contact', contactPhone.contactId]">{{contactPhone.contactId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-phone/'+ contactPhone.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
