<div>
    <h2>
        <span jhiTranslate="leadletApiApp.document.home.title">Documents</span>
        <button class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/', { outlets: { popup: ['document-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="leadletApiApp.document.home.createLabel">
            Create new Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="documents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="url"><span jhiTranslate="leadletApiApp.document.url">Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="memo"><span jhiTranslate="leadletApiApp.document.memo">Memo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactId"><span jhiTranslate="leadletApiApp.document.contact">Contact</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appAccountId"><span jhiTranslate="leadletApiApp.document.appAccount">App Account</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activityId"><span jhiTranslate="leadletApiApp.document.activity">Activity</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['../document', document.id ]">{{document.id}}</a></td>
                <td>{{document.url}}</td>
                <td>{{document.memo}}</td>
                <td>
                    <div *ngIf="document.contactId">
                        <a [routerLink]="['../contact', document.contactId  ]" >{{document.contactId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="document.appAccountId">
                        <a [routerLink]="['../app-account', document.appAccountId  ]" >{{document.appAccountId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="document.activityId">
                        <a [routerLink]="['../activity', document.activityId  ]" >{{document.activityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../document', document.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document/'+ document.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document/'+ document.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="documents && documents.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
