<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDocumentLabel" jhiTranslate="leadletApiApp.document.home.createOrEditLabel">Create or edit a Document</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!document.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="document.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.document.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="document.url"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.document.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                [(ngModel)]="document.memo"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="leadletApiApp.document.contact" for="field_contact">Contact</label>
            <select class="form-control" id="field_contact" name="contact" [(ngModel)]="document.contactId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contactOption.id" *ngFor="let contactOption of contacts; trackBy: trackContactById">{{contactOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="leadletApiApp.document.appAccount" for="field_appAccount">App Account</label>
            <select class="form-control" id="field_appAccount" name="appAccount" [(ngModel)]="document.appAccountId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="appAccountOption.id" *ngFor="let appAccountOption of appaccounts; trackBy: trackAppAccountById">{{appAccountOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="leadletApiApp.document.activity" for="field_activity">Activity</label>
            <select class="form-control" id="field_activity" name="activity" [(ngModel)]="document.activityId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="activityOption.id" *ngFor="let activityOption of activities; trackBy: trackActivityById">{{activityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
