<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContactLabel" jhiTranslate="leadletApiApp.contact.home.createOrEditLabel">Create or edit a Contact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contact.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contact.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.contact.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="contact.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.contact.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="contact.location"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.contact.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="contact.type" id="field_type" >
                <option value="PERSON" jhiTranslate="leadletApiApp.ContactType.PERSON">PERSON</option>
                <option value="ORGANIZATION" jhiTranslate="leadletApiApp.ContactType.ORGANIZATION">ORGANIZATION</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="leadletApiApp.contact.isContactPerson" for="field_isContactPerson">Is Contact Person</label>
            <input type="checkbox" class="form-control" name="isContactPerson" id="field_isContactPerson"
                [(ngModel)]="contact.isContactPerson"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="leadletApiApp.contact.organization" for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" [(ngModel)]="contact.organizationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contactOption.id" *ngFor="let contactOption of contacts; trackBy: trackContactById">{{contactOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
