
<div *ngIf="contact">
    <h2><span jhiTranslate="leadletApiApp.contact.detail.title">Contact</span> {{contact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="leadletApiApp.contact.name">Name</span></dt>
        <dd>
            <span>{{contact.name}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contact.location">Location</span></dt>
        <dd>
            <span>{{contact.location}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contact.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'leadletApiApp.ContactType.' + contact.type}}">{{contact.type}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contact.isContactPerson">Is Contact Person</span></dt>
        <dd>
            <span>{{contact.isContactPerson}}</span>
        </dd>
        <dt><span jhiTranslate="leadletApiApp.contact.organization">Organization</span></dt>
        <dd>
            <div *ngIf="contact.organizationId">
                <a [routerLink]="['/contact', contact.organizationId]">{{contact.organizationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
